input-multiline.input-multiline {
	display: block;
	width: 100%;
	min-width: 100%;
	height: 100%;
	min-height: 40px;
	max-height: 120px;
	resize: none;
	padding: 0.7rem 1.1rem;
	color: var(--text-color);
	background: rgba(255, 255, 255, 0.07);
	font-size: 1rem;
	font-family: var(--font-family);
	font-weight: 300;
	outline: none;
	transition: background 0.2s, box-shadow 0.2s;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
	margin-right: 0.7rem;
	box-sizing: border-box;
	line-height: 1.4;
	white-space: pre-wrap;
	word-break: break-word;
	overflow-y: auto;
}

.editable {
	border: 1px solid rgba(255, 255, 255, 0.04);
}

.editable::-webkit-scrollbar {
	width: 6px;
}

.editable::-webkit-scrollbar-track {
	background: transparent;
}

.editable::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 4px;
}

.editable::-webkit-scrollbar-thumb:hover {
	background-color: rgba(255, 255, 255, 0.35);
}